In [11]:
import pandas as pd
import matplotlib.pyplot as plt
from scipy.stats import pearsonr
from sklearn.linear_model import LinearRegression
import csv

## storing data into list
df = pd.read_csv('final_depression_dataset_1.csv')
print(df)

             Name  Gender  Age       City Working Professional or Student  \
0           Pooja  Female   37  Ghaziabad            Working Professional
1         Reyansh    Male   60     Kalyan            Working Professional
2           Manvi  Female   42     Bhopal            Working Professional
3            Isha  Female   44      Thane            Working Professional
4           Aarav    Male   48     Indore            Working Professional
...           ...     ...  ...        ...                             ...
2551  Raghavendra    Male   25  Bangalore            Working Professional
2552         Pihu  Female   23       Pune            Working Professional
2553         Sara  Female   24   Srinagar            Working Professional
2554       Eshita  Female   56  Bangalore            Working Professional
2555        Kiran    Male   18      Surat                         Student

             Profession  Academic Pressure  Work Pressure  CGPA  \
0               Teacher                NaN            2.0   NaN
1     Financial Analyst                NaN            4.0   NaN
2               Teacher                NaN            2.0   NaN
3               Teacher                NaN            3.0   NaN
4        UX/UI Designer                NaN            4.0   NaN
...                 ...                ...            ...   ...
2551         Consultant                NaN            1.0   NaN
2552            Teacher                NaN            3.0   NaN
2553         HR Manager                NaN            1.0   NaN
2554   Business Analyst                NaN            2.0   NaN
2555                NaN                5.0            NaN   6.7

      Study Satisfaction  Job Satisfaction     Sleep Duration Dietary Habits  \
0                    NaN               4.0          7-8 hours       Moderate
1                    NaN               3.0          5-6 hours      Unhealthy
2                    NaN               3.0          5-6 hours       Moderate
3                    NaN               5.0          7-8 hours        Healthy
4                    NaN               3.0          7-8 hours       Moderate
...                  ...               ...                ...            ...
2551                 NaN               5.0          5-6 hours        Healthy
2552                 NaN               1.0  Less than 5 hours       Moderate
2553                 NaN               4.0  Less than 5 hours       Moderate
2554                 NaN               3.0          7-8 hours        Healthy
2555                 3.0               NaN  More than 8 hours      Unhealthy

        Degree Have you ever had suicidal thoughts ?  Work/Study Hours  \
0           MA                                    No                 6
1        B.Com                                   Yes                 0
2        M.Com                                    No                 0
3           MD                                   Yes                 1
4           BE                                   Yes                 6
...        ...                                   ...               ...
2551       BBA                                   Yes                12
2552        MA                                   Yes                 8
2553        BA                                   Yes                 4
2554       BBA                                    No                 4
2555  Class 12                                    No                 6

      Financial Stress Family History of Mental Illness Depression
0                    2                               No         No
1                    4                              Yes         No
2                    2                               No         No
3                    2                              Yes         No
4                    5                              Yes         No
...                ...                              ...        ...
2551                 3                              Yes         No
2552                 3                               No        Yes
2553                 4                               No         No
2554                 5                              Yes         No
2555                 2                              Yes        Yes

[2556 rows x 19 columns]